# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Ignore everything by default
*

# Un-ignore the lib directory and its contents
!/lib
!/lib/**

# Un-ignore essential Git files
!/.git
!/.gitignore

# Un-ignore essential Flutter files
!/pubspec.yaml
!/pubspec.lock  # Optional: Include if you want consistent dependency versions
!/.flutter-plugins  # Needed for plugin registration
!/.flutter-plugins-dependencies  # Needed for plugin dependencies

# Optional: Un-ignore documentation or config files if needed
!/README.md
!/.metadata  # Flutter project metadata